body, html{
	margin: 0 0 0 0;
}
.clear{
	clear: both;
}
nav{
	position: relative;
	margin: 0px auto;
	height: auto;
	background-color: #ccc;
	display: block;
}

ul.fullnav{
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 0;*/
	text-align: center;
	background-color: white;
    position: absolute;
    height: 10px;
    top: 50%;
    margin-top: -5px;
}
ul.fullnav:after {
    content: " ";
    width: 0;
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 0;*/
	text-align: center;
	background-color: green;
    position: absolute;
    height: 10px;
    top: 50%;
    left: 0;
    margin-top: -5px;
}

ul.fullnav[data-step="step-0"]:after {
    width: 0;
}
ul.fullnav[data-step="step-1"]:after {
    width: 33.33%;
}
ul.fullnav[data-step="step-2"]:after {
    width: 66.66%;
}

ul.fullnav[data-step="step-3"]:after {
    width: 100%;
}

ul.fullnav li {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 60px;
	width: 32px;
	height: 32px;
	background-color: #009b3a;
	border-radius: 20px;
    position:absolute;
    top: -10px;
    left: 0;
    
    
}

ul.fullnav li:nth-of-type(2) {
    left: 33.33%;
    margin-left: -16px;
}
ul.fullnav li:nth-of-type(3) {
    left: 66.66%;
    margin-left: -16px;
}

ul.fullnav li:nth-of-type(4) {
    left: 100%;
    margin-left: -16px;
}


ul.fullnav li:before {
	content: " ";
	width: 90%;
	height: 2px;
	background: #009b3a;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -45%;
}

ul.fullnav li a {
	display: block;
	padding: 0 16px;
	text-decoration: none;
	/*text-transform: uppercase;*/
	color: #00A89C;
}


ul.fullnav li:hover a {
	background: #00A89C;
	color: white;
}

a:active{outline: none;}

.menuActive{
	background: #00A89C;
	color: white!important;
}

/****** *****/
ul.listTab[data-step="paso-1"] .first .circle{
    background-color: #009b3a;
}
ul.listTab[data-step="paso-1"] .first .line{
    background-color: #009b3a;
}
ul.listTab[data-step="paso-1"] .second .line{
    background-color: #009b3a;
}
ul.listTab[data-step="paso-2"] .first .line{
    background-color: #009b3a;
}
ul.listTab[data-step="paso-2"] .second .circle{
    background-color: #009b3a;
}
ul.listTab[data-step="paso-2"] .second .line{
    background-color: #009b3a;
}
ul.listTab[data-step="paso-2"] .second .line2{
    background-color: #009b3a;
}
ul.listTab[data-step="paso-2"] .three .line{
    background-color: #009b3a;
}
ul.listTab[data-step="paso-3"] .second .line2{
    background-color: #009b3a;
}
ul.listTab[data-step="paso-3"] .three .circle{
    background-color: #009b3a;
}
ul.listTab[data-step="paso-3"] .three .line{
    background-color: #009b3a;
}
ul.listTab[data-step="paso-3"] .three .line2{
    background-color: #009b3a;
}
ul.listTab[data-step="paso-3"] .after .line{
    background-color: #009b3a;
}
ul.listTab[data-step="paso-4"] .three .line2{
    background-color: #009b3a;
}
ul.listTab[data-step="paso-4"] .after .line{
    background-color: #009b3a;
}
ul.listTab[data-step="paso-4"] .after .circle{
    background-color: #009b3a;
}

.listTab{
	padding: 0 0 0 0;
	margin: 0 auto 0 auto;
	max-width: 674px;
	
}
.listTab li{
	list-style: none;
	width: 25%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
	float: left;
	position: relative;
}
.listTab li p{
	font-size: 12px;
	margin: 0 0 0 0;
	width: 80px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto 0 auto;
}
.listTab li p a{
	display: block;
	text-decoration: none;
	color: #8b8d8e;
}
.listTab li .circle{
	width: 20px;
	height: 20px;
	background-color: #8b8d8e;
	border-radius: 50%;
	position: relative;
	z-index: 4;
	margin: 0 auto 0 auto;
}
.listTab li .line{
	width: 50%;
	height: 3px;
	background-color: #8b8d8e;
	display: block;
	position: absolute;
	left: 0;
	top: 9px;
	z-index: 1;
}
.listTab li .line2{
	width: 50%;
	height: 3px;
	background-color: #8b8d8e;
	display: block;
	position: absolute;
	right: 0;
	top: 9px;
	z-index: 1;
}

.listTab li.first .circle{
	left: 27px;
	margin: 0 0 0 0;
}
.listTab li.first .line{
	left: 34px;
	width: 100%;
}
.listTab li.first p{
	margin: 0 0 0 0;
}
.listTab li.after .circle{
	right: -74%;
	margin: 0 0 0 0;
}
.listTab li.after .line{
	width: 80%;
}
.listTab li.after p{
	text-align: right;
	margin: 0 0 0 0;
	width: 100%;
	padding: 7px 0 0 0;
}
